::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  height: 10px; /* Height of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; /* Transparent background */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.8); /* Darker color on hover */
}
