.icon-image {
  opacity: 0;
  transition: opacity 0.3s ease; /* Add transition for opacity */
}
.tree-node {
  font-size: 13px;
  border: 0;
  padding: 5px;
  z-index: 1;
  line-height: 1.5;
  font-weight: 500;
  width: 200px;
  border-radius: 9999rem;
  background: #efefef;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  isolation: isolate;
  overflow: hidden;

  & > span.text {
    color: #121212;
    width: 100%;
    text-align: center;
    padding-block: 10px;
    font-size: 18px;
    /* padding-left: 24px; */
    z-index: 2;
    transition: all 200ms ease;
  }

  @media screen and (max-width: 391px) {
    .tree-node {
      margin: 10px;
    }
  }

  & > div.overlay {
    color: #ededed;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: inherit;
    background: #242424;
    position: absolute;
    right: 1px;
    z-index: 1;
  }
  & > div.overlay-start {
    color: #ededed;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: inherit;
    background: green;
    position: absolute;
    left: 1px;
    z-index: 1;
  }
}
.tree-node.clicked {
  opacity: 0.5;
  background: repeating-linear-gradient(
    -55deg,
    #e1d5af,
    #e1d5af 4px,
    #333 4px,
    #333 8px
  );
  & > span.text {
    color: black;
    width: 100%;
    text-align: center;
    padding-block: 10px;
    font-size: 18px;
    /* font-weight: 500; */
    /* padding-left: 24px; */
    z-index: 2;
    transition: all 200ms ease;
  }
}
